@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 0 0% 88%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 92%;

    --popover: 0 0% 16%;
    --popover-foreground: 0 0% 92%;

    --primary: 79 61% 62%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 92%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 187 85% 53%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 79 61% 62%;

    --radius: 0.5rem;

    --link: 187 85% 53%;
    --link-hover: 187 85% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
